* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: default;
  user-select: none;
  /*font-family: 'SF Pro Text', 'SF Pro Icons', "PingFang SC", 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
}
